﻿@model RiversideHealth.Models.HealthTips

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>HealthTips</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipsTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipsTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipsDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipsDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HealthTipsCategory)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HealthTipsCategory.CategoryTitle)
        </dd>
    </dl>
</div>
<div>
    <a href="Edit/@Model.TipsId">Edit</a> |
    <a href="Index">Back to List</a>
</div>
