﻿@model RiversideHealth.Models.GiftCategory

@{
    ViewData["Title"] = "Create";
}

<div>
    <a href="Index">Back to List</a>
</div>
<h2>Create Gift Category</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="giftCategoryName" class="control-label">Category Name</label>
                @Html.EditorFor(model => model.GiftCategoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GiftCategoryName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


