﻿@model RiversideHealth.Models.GiftCategory

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<div>
    <a href="/GiftCategory/Edit/@Model.GiftCategoryId">Edit</a> |
    <a href="/GiftCategory/Index">Back to List</a>
</div>
<div>
    <h4>GiftCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiftCategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GiftCategoryName)
        </dd>
    </dl>
</div>

