﻿@model IEnumerable<RiversideHealth.Models.GiftCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Gift Category List</h2>

<p>
    <a href="/GiftCategory/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.GiftCategoryName)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GiftCategoryName)
            </td>
            <td>
                <a href="/GiftCategory/Edit/@item.GiftCategoryId">Edit</a> |
                <a href="/GiftCategory/Details/@item.GiftCategoryId">Details</a> |
                <a href="/GiftCategory/Delete/@item.GiftCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
