﻿@model IEnumerable<RiversideHealth.Models.Donator>
@{
   ViewData["Title"] = "List";
}

<h2>List</h2>
<ul>
@foreach (var donator in Model)
{
    <li>@donator.DonatorFirstName @donator.DonatorLastName</li>
}    
 </>