﻿@model RiversideHealth.Models.DonationSummary
@{
    ViewData["Title"] = "Summary";
}

<h2>Donation Summary</h2>
<h3>Thank you for Donating to our hospital!</h3>
<p>Please save your customerId and keep a copy of your receipt for future reference</p>
<table class="table">
    <tr>
        <td>Donator ID</td>
        <td>@Model.CustID</td>
    </tr>
    <tr>
        <td>Donator Full Name</td>
        <td>@Model.CustID</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.CustID</td>
    </tr>
    <tr>
        <td>Reference ID</td>
        <td>@Model.ReferenceID</td>
    </tr>
    <tr>
        <td>Donation Amount</td>
        <td>@Model.Amount</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>
            @switch (Model.Status)
            {
                case "succeeded":
                    <span class="text-success">Success</span>
                    break;
                case "pending":
                    <span class="text-warning">Pending</span>
                    break;
                case "failed":
                    <span class="text-danger">Failed</span>
                    break;
            }
        </td>
    </tr>
    <tr>
        <td>Receipt</td>
        <td><a href="@Model.DonationReceiptLink">Click Here</a></td>
    </tr>
</table>
