﻿@* References Christine's code *@
@model IEnumerable<RiversideHealth.Models.Admin>

@{
    ViewBag.Title = "Index";
}
<div class="banner" id="adminbanner">
    <h2>Admins</h2>
</div>
<div class="recadd">
    @{ //variable declaration id (will put user admin id into here)
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Register", "Create")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")

    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
    }

</div>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LName)
            </td>

            <td>
                @if (item.AdminId.ToString() == id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.AdminId })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Details", "Details", new { id = item.AdminId })
                @if (item.AdminId.ToString() == id)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdminId })
                }
            </td>

        </tr>
    }

</table>
