﻿body {
    padding: 0;
}

.primary-navigation {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}

.secondary-navigation {
    /*display: flex;
    flex-direction: row;*/
    /*justify-content: center;*/
}

.nav__donate-search {
    margin-left: auto;
}

button{
    border: none;
    margin-bottom: 10px;
}

.nav__donate-btn {
    width: 100%;
    background-color: #F6C443;
    color: #0D2F86;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: lightblue;
}

.navbar-brand > img {
        height: 100%;
}

.navbar-brand {
    padding: 0;
}

.navbar .navbar-inverse .navigation {
    border-radius: 0;
}

.navigation {
    background-color: #226EA2;
}

#navigation {
    border-radius: 0;
}

ul#nav__links {
    width:100%;
    display: flex;
    justify-content:space-between;
}

.nav__search-btn {
    background-color: #439CDE;
}