﻿@model RiversideHealth.Models.ViewModels.PageEdit
@{
    ViewBag.Title = "Create";
}

<h2>New Page</h2>

<form method="POST" action="/Page/Create">
    <div class="inprow">
        <label class="inplabel">Title</label>
        <input id="PageTitle_New" name="PageTitle_New" />
    </div>
    <div class="inptrow">
        <input type="hidden" name="PageAuthor_New" value="@ViewData["UserHasAdmin"]" />

    </div>
    <div class="inprow">
        <div class="inputlabel">Content</div>
        <textarea id="PageContent_New" name="PageContent_New"></textarea>
    </div>
    <div class="inptrow">
        <div>
            <input id="Publish" type="radio" name="PublishStatus" value="1" />
            <label for="Publish">Publish Upon Creation</label>
        </div>
        <div>
            <input id="NoPublish" type="radio" name="PublishStatus" value="0" />
            <label for="NoPublish">Save Without Publishing</label>
        </div>
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>


</form>