﻿@model IEnumerable<RiversideHealth.Models.HealthTipsCategory>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a href="/Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           <th rowspan="2">@Html.DisplayNameFor(model => model.CategoryTitle)</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CategoryTitle
            </td>
            <td>
                <a href="Edit/@item.TipsCategoryId">Edit</a>
                <a href="Details/@item.TipsCategoryId">View</a>
                <a href="Delete/@item.TipsCategoryId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
