﻿@model RiversideHealth.Models.Announcement
@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>
<div class="recadd">
    @{ 
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Join Us!", "Create")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")

    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];

    }

</div>
<div class="promptlink">
    @Html.ActionLink("Edit", "Edit/" + Model.AnnouncementId)
</div>
<div>
    <div class="announcementCol">
        <article class="announcementContent">
            <p>@Model.Content</p>
        </article>
    </div>
    <div class="authorcolumn">
        <span>
            Created By: @Html.ActionLink(Model.Admin.FName + " " + Model.Admin.LName, "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        </span>
    </div>
</div>