﻿@model IEnumerable<RiversideHealth.Models.Announcement>

@{
    ViewBag.Title = "Index";
}
<div class="banner" id="announcementbanner">
    <h2>Announcements</h2>
</div>

<div class="recadd">
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Join Us!", "Create")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")

    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];
    }

</div>
<div id="debugDiv">
</div>
<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Creator
        </th>
        <th>
            Date Created
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DisplayStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.FName) @Html.DisplayFor(modelItem => item.Admin.LName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @if (item.DisplayStatus == 1)
                {
                    @Html.Raw("Displayed")
                }
                else
                {
                    @Html.Raw("Not Displayed");
                }
            </td>

            <td>
                @if (item.AdminId.ToString() == id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.AnnouncementId })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Details", "Details", new { id = item.AnnouncementId })
                @if (item.AdminId.ToString() == id)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.AnnouncementId })
                }
            </td>


        </tr>
    }

</table>

<div>
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "Index",
        "Announcement",
        new { pagenum = ((int)ViewData["pagenum"] - 1) }
        )
    |
    @Html.ActionLink("Next",
        "Index",
        "Announcement",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
</div>