﻿@model RiversideHealth.Models.Career
@{
    ViewBag.Title = "Career Details";
}

<h2>@Model.CareerName</h2>
<div class="recadd">
    @{
        string id = "";
    }
    @if ((string)ViewData["UserHasAdmin"] == "False")
    {
        @Html.ActionLink("Join Us!", "Create")
    }
    else if ((string)ViewData["UserHasAdmin"] == "None")
    {
        @Html.ActionLink("Register An Account", "Register", "Account")

    }
    else
    {
        @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        id = (string)ViewData["UserHasAdmin"];

    }

</div>
<div class="promptlink">
    @Html.ActionLink("Edit", "Edit/" + Model.CareerId)
</div>
<div>
    <div class="dateCol">
        <label>Date Posted: </label>
        @Html.Raw(Model.Date);
    </div>
    <div class="typeCol">
        <article class="typeCol">
            <p>
                <label>Role Type:</label>
                @if (Model.Status == 0)
                {
                    @Html.Raw("Volunteer")
                }
                else
                {
                    @Html.Raw("Paid");
                }
            </p>
        </article>
    </div>
    <div class="statusCol">
        <article class="statusCol">
            <p>
                <label>Status:</label>
                @if (Model.Status == 1)
                {
                    @Html.Raw("Active")
                }
                else
                {
                    @Html.Raw("Inactive");
                }

            </p>
        </article>
    </div>
    <div class="wageCol">
        <article class="wageCol">
            <p><label>Wage per Hour: </label>$@Model.Wage</p>
        </article>
    </div>
    <div class="ContactCol">
        <article class="ContactCol">
            <p><label>Contact Person:</label> @Model.ContactName</p>
            <p><label>Email:</label> @Model.ContactEmail</p>
        </article>
    </div>
    <div class="descriptionCol">
        <article class="descriptionCol">
            <label>Role Description:</label>
            <p>@Model.CareerDescription</p>
        </article>
    </div>

    <div class="authorcolumn">
        <span>
            <label>Created By:</label> @Html.ActionLink(Model.Admin.FName + " " + Model.Admin.LName, "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
        </span>
    </div>
</div>