﻿@model IEnumerable<RiversideHealth.Models.Career>

@{
    ViewBag.Title = "AdminIndex";
}
<div class="banner" id="careerbanner">
    <h2>Manage Careers</h2>
</div>
    <div class="recadd">
        @{
            string id = "";
        }
        @if ((string)ViewData["UserHasAdmin"] == "False")
        {
            @Html.ActionLink("Join Us!", "Create")
        }
        else if ((string)ViewData["UserHasAdmin"] == "None")
        {
            @Html.ActionLink("Register An Account", "Register", "Account")

        }
        else
        {
            @Html.ActionLink("Your Profile", "Details/" + (string)ViewData["UserHasAdmin"], "Admin")
            id = (string)ViewData["UserHasAdmin"];
        }

    </div>
    <div id="debugDiv">
    </div>
    <table class="table">
        <tr>
            <th>
                Role Name
            </th>
            <th>
                Type
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th>
                Status
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CareerName)
            </td>
            <td>
                @if (item.Status == 1)
                {
                    @Html.Raw("Paid")
                }
                else
                {
                    @Html.Raw("Volunteer");
                }
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.FName) @Html.DisplayFor(modelItem => item.Admin.LName)
            </td>
            <td>
                @if (item.Status == 1)
                {
                    <span class="text-success">@Html.Raw("Active")</span>
                }
                else
                {
                    <span class="text-danger">@Html.Raw("Inactive")</span>
                }
            </td>


            <td>
                @if (item.AdminId.ToString() == id)
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.CareerId })
                    @Html.Raw(" | ")
                }
                @Html.ActionLink("Details", "AdminDetails", new { id = item.CareerId })
                @if (item.AdminId.ToString() == id)
                {
                    @Html.Raw(" | ")
                    @Html.ActionLink("Delete", "Delete", new { id = item.CareerId })
                }
            </td>


        </tr>
        }

    </table>

    <div>
        @ViewData["PaginationSummary"]
        @Html.ActionLink("Prev",
            "AdminIndex",
            "Career",
            new { pagenum = ((int)ViewData["pagenum"] - 1) }
            )
        |
        @Html.ActionLink("Next",
            "AdminIndex",
            "Career",
            new { pagenum = ((int)ViewData["pagenum"] + 1) }
        )
    </div>