﻿@model IEnumerable<RiversideHealth.Models.Career>

@{
    ViewBag.Title = "Careers List";
}
<div class="banner" id="careerbanner">
    <h2>Available Careers</h2>
</div>
<div id="debugDiv">
</div>
<table class="table">
    <tr>
        <th>
            Role Name
        </th>
        <th>
            Type
        </th>
        <th>
            Date Created
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CareerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CareerType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Details", "PublicDetails", new { id = item.CareerId })
            </td>
        </tr>
    }

</table>

<div>
    @ViewData["PaginationSummary"]
    @Html.ActionLink("Prev",
        "PublicIndex",
        "Career",
        new { pagenum = ((int)ViewData["pagenum"] - 1) }
        )
    |
    @Html.ActionLink("Next",
        "PublicIndex",
        "Career",
        new { pagenum = ((int)ViewData["pagenum"] + 1) }
    )
</div>