﻿@model RiversideHealth.Models.Career
@{
    ViewBag.Title = "Career Details";
}

<h2>@Model.CareerName</h2>
<div>
    <div class="dateCol">
        <label>Date Posted: </label>
        @Html.Raw(Model.Date);
    </div>
    <div class="typeCol">
        <article class="typeCol">
            <p>
                <label>Role Type: </label>
                @if (Model.Status == 0)
                {
                    @Html.Raw("Volunteer")
                }
                else
                {
                    @Html.Raw("Paid");
                }
            </p>
        </article>
    </div>
    <div class="statusCol">
        <article class="statusCol">
            <p>
                <label> Status:</label>
                @if (Model.Status == 1)
                {
                    @Html.Raw("Active")
                }
                else
                {
                    @Html.Raw("Inactive");
                }

            </p>
        </article>
    </div>
    <div class="wageCol">
        <article class="wageCol">
            <p><label>Wage per Hour:</label> $@Model.Wage</p>
        </article>
    </div>
    <div class="contactCol">
        <article class="contactCol">
            <p><label>Contact Person: </label>@Model.ContactName</p>
            <p><label>Email: </label> @Model.ContactEmail</p>
        </article>
    </div>
    <div class="descriptionCol">
        <article class="descriptionCol">
            <label>Role Description:</label>
            <p>@Model.CareerDescription</p>
        </article>
    </div>

    <div>
        @* Action link to apply goes here *@
    </div>
</div>