﻿@model RiversideHealth.Models.GiftItems
@{
    ViewData["Title"] = "Edit";
}

<div>
    <a href="/GiftShop/Index">Back to List</a>
</div>

<h2>Create Gift Item</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="giftItemName" class="control-label">Item Name:</label>
            <input type="text" name="GiftItemName_New" class="form-control" />
        </div>
        <div class="form-group">
            <label for="giftItemDesc" class="control-label">Description:</label>
            <textarea name="GiftItemDescription_New" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="giftItemPrice" class="control-label">Price:</label>
            <input type="text" name="GiftItemPrice_New" class="form-control" />
        </div>
        <div class="form-group">
            <label name="GiftCategoryId" class="control-label">Gift Category</label>
            <select name="GiftCategoryId_New" class="form-control" value="@Model.GiftCategoryId"></select>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>

