﻿@model IEnumerable<RiversideHealth.Models.GiftItems>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<a href="/GiftShop/Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GiftItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftItemPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiftCategory)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftItemDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftItemPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiftCategory.GiftCategoryName)
                </td>
                <td>
                    <a href="/GiftShop/Edit/@item.GiftItemsId">Edit</a> |
                    <a href="/GiftShop/Details/@item.GiftItemsId">Details</a> |
                    <a href="/GiftShop/Delete/@item.GiftItemsId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>