﻿@model RiversideHealth.Models.GiftItems

@{
    ViewData["Title"] = "View";
}

<h2>View</h2>

<h4>GiftItems</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="View">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GiftItemName" class="control-label"></label>
                <input asp-for="GiftItemName" class="form-control" />
                <span asp-validation-for="GiftItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftItemDescription" class="control-label"></label>
                <input asp-for="GiftItemDescription" class="form-control" />
                <span asp-validation-for="GiftItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftItemPrice" class="control-label"></label>
                <input asp-for="GiftItemPrice" class="form-control" />
                <span asp-validation-for="GiftItemPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftItemImage" class="control-label"></label>
                <input asp-for="GiftItemImage" class="form-control" />
                <span asp-validation-for="GiftItemImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasImages" class="control-label"></label>
                <input asp-for="HasImages" class="form-control" />
                <span asp-validation-for="HasImages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GiftCategoryId" class="control-label"></label>
                <select asp-for="GiftCategoryId" class ="form-control" asp-items="ViewBag.GiftCategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

